@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #059669;
  --primary-dark: #047857;
}

.text-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.from-primary {
  --tw-gradient-from: var(--primary);
}

.to-primary-dark {
  --tw-gradient-to: var(--primary-dark);
}

.hover\:text-primary:hover {
  color: var(--primary);
}

.hover\:bg-primary-dark:hover {
  background-color: var(--primary-dark);
}
